*{ color:red;}
a[title="Google Chrome"]{ color:aqua;}
h1{color:red;}
.A a{ color:brown;line-height: 24px; word-spacing:20px; text-decoration:underline;}
#A3{ color:aqua;}
#E1{background-color: blueviolet; }